.cart-dropdown .position-relative {
    position: relative;
  }
  
  .cart-count {
    top: -8px;
    right: -8px;
    /* font-size: 12px; */
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    background-color: #ff4d4f; 
    color: white;
  }