
.category-item {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  
    &:hover {
      transform: scale(1.1);
    }
  }
  